

<body>
{% block content %}
<table border="1">
    {% for d in entries %}
<h1>Eidt Name: <a href="{{ url_for('edit_entry',id= d.name )}} ">{{d.name }}</a> </h1>

    <tr>
        <h1><td>Name: {{ d.name }}</td>
            <td>School: {{ d.school }}</td>
            <td>Class: {{ d.classes }}</td>
        <td>Address: {{ d.address }}</td>
            <td>Phone Number: {{ d.phone_number }}</td>
            <td>City: {{ d.city }}</td>
            <td>Test Message: {{ d.text }}</td>
            <td>{{ d.date_time }}</td>

        </h1>

    </tr>

     {% else %}
  <p>No Data!</p>
    {% endfor %}
</table><h1>

    {% for d in entries %}
<h1>Remove Name: <a href="{{ url_for('remove_entry',id= d.name )}} ">{{d.name }}</a> </h1>
     {% else %}
  <p>No Data!</p>
    {% endfor %}

<a href="{{ url_for('home') }}" >link to home page</a></h1>
 {% endblock %}
</body>